body{
    background-color: teal;
    /* padding-left: 12px;
    padding-right: 12px; */
    padding-top: 10px;
    padding-bottom: 10px;
}

a{
    font-family: lucida console,monospace;
    font-size: x-large;
}

header{
    
    font-family: lucida console, monospace;
    text-align: center; 
    font-size: large;
    padding-left: 12px;
    padding-right: 12px;
}

.hed{
    font-family: lucida console, monospace;
    font-size: 3cm;
}

.kedua{
    /* margin:400px;
    width: 950px;
    height: 200px;  */
    text-align: justify;
    font-family: lucida console, monospace;
    background-color: #006e6e;
    padding-left: 3cm;
    padding-right: 3cm;

}

.hat2{
    font-family: lucida console, monospace;
    color: black;
    font-size: 1cm;
}

.hat3{
    font-family: lucida console, monospace;
    color: rgb(31, 30, 30);
    font-size: x-large;
}

.w3-ul{
    font-size: larger;
    color: white;
    /* height: 400px; */
}

.ketiga{
    /* margin:400px;
    width: 950px;
    height: 200px;  */
    text-align: justify;
    font-family: lucida console, monospace;
    padding-left: 3cm;
    padding-right: 3cm;
}

p{
    font-size: larger;
    color: white;
}

.keempat{
    /* margin:400px;
    width: 950px;
    height: 15cm;  */
    text-align: justify;
    font-family: lucida console, monospace;
    background-color: #006e6e;
    padding-left: 3cm;
    padding-right: 3cm;
}

.keenam{
    /* margin:400px;
    width: 950px;
    height: 400px;  */
    text-align: justify;
    font-family: lucida console, monospace;
    padding-left: 3cm;
    padding-right: 3cm;
    padding-bottom: 300px; 
}

.kelima{
    /* margin:400px;
    width: 950px;
    height: 400px;  */
    text-align: justify;
    font-family: lucida console, monospace;
    background-color: #006e6e;
    padding-left: 3cm;
    padding-right: 3cm;
}

.pin{
    font-size: larger;
    color: white;
}

i{
    font-size: larger;
    color: white;
}

footer{
    color: white;
    padding-left: 3cm;
    padding-right: 3cm;
}

img{
    padding: 10px;
}

.add{
    text-align: center;
    font-size: 1cm;
    color: antiquewhite;
}